NoHostAuthenticationForLocalhost yes

#### Firewalls
# How to differentiate between machines that live behind firewalls and
# those that don't, esp. when I'm using a machine that moves
# (e.g. laptop) I've long used hostname abbreviations to keep from
# typing the whole name.  One solution is to add a character or some
# such to indicate which is behind the firewall.  E.g. ssh aramisw
# (for aramis at work).  Another is to define the full hostname to
# mean "access from outside" and allow the abbreviated hostname to
# mean "machine is near me, access from within firewall" This has the
# unfortunate affect that the convention now cares from where it's
# being accessed, so scripts e.g. have to know if they're being run
# inside or outside the firewall.  But for most networks, I don't slip
# in and out of the firewall.  So it seems dumb to deprive myself of
# an abbreviation when it only matters for a few hosts, and I'm only
# trying to save the firewall machine a few cycles.  So screw it, I'll
# waste a few cycles for the firewall machine, or else type the fully
# qualified hosthame if I want the "no config" access to, e.g. speed
# up net bandwidth.  Also maybe an abbreviation of that, like aramisfr
# to suggest the full host name?

#### Testing for accessing clio from work
# This is necesssary if port is forwarded to localhost on lerma90 so
# that all port forwarded connections must originate from that same
# machine.
Host clio2
  ProxyCommand ssh aramis nc localhost 2022 2> /dev/null

# This works if the port is forwarded to lerma90, so that any machine
# can connect to it.
# Host clio3
#   HostName lerma90
#   Port 9022
  
##############
### Forwarding 

# Firewalls
Host armstrong rubicon
  ForwardAgent yes
  ForwardX11 yes
  ForwardX11Trusted yes

# Other Forwarding
Host aramis sesame1 tigressdata hecate tiger orbital
  ForwardAgent yes
  ForwardX11 yes
  ForwardX11Trusted yes


##########################
### NASA stuff...
	
# Replace sfe4 with sfe1, sfe2 or sfe3 if sfe4 is unavailable, AND 
# if public key authorization is set up on the SFE you want to switch to
	
Host sfe
     HostName		sfe2.nas.nasa.gov

Host sfe sfe?.nas.nasa.gov
	Ciphers			aes128-cbc,aes192-cbc,aes256-cbc,3des-cbc
	ForwardAgent		no
	MACs			hmac-sha1

Host sfe sfe?.nas.nasa.gov dmzfs?.nas.nasa.gov sup*.nas.nasa.gov
	LogLevel		info
	ProxyCommand		none

Host lou lou-last lou.nas.nasa.gov lou-last.nas.nasa.gov
        HostKeyAlias            lfe1.nas.nasa.gov
        ProxyCommand            ssh -oCompression=no sfe /usr/local/bin/ssh-balance %h

# Host pfe pfe-last pfe.nas.nasa.gov pfe-last.nas.nasa.gov
# 	HostKeyAlias		pfe1.nas.nasa.gov
# 	ProxyCommand		ssh -oCompression=no sfe /usr/local/bin/ssh-balance %h

# Host bridge bridge-last bridge.nas.nasa.gov bridge-last.nas.nasa.gov
#         HostKeyAlias            pfe1.nas.nasa.gov
#         ProxyCommand            ssh -oCompression=no sfe /usr/local/bin/ssh-balance %h

# Host lfe lfe-last lfe.nas.nasa.gov lfe-last.nas.nasa.gov
#         HostKeyAlias            lfe1.nas.nasa.gov
#         ProxyCommand            ssh -oCompression=no sfe /usr/local/bin/ssh-balance %h

# Host lou lou-last lou.nas.nasa.gov lou-last.nas.nasa.gov
#         HostKeyAlias            lfe1.nas.nasa.gov
#         ProxyCommand            ssh -oCompression=no sfe /usr/local/bin/ssh-balance %h

# Add additional hosts to the list below as needed
Host *.nas.nasa.gov lou lou? lfe? cfe? pfe? pfe?? bridge? sfe ?fe ?fe-last
	ForwardAgent		yes
	HostbasedAuthentication	no
	Protocol		2
	ProxyCommand		ssh -oCompression=no sfe /usr/local/bin/ssh-proxy %h
	ServerAliveInterval	10m

        # Replace <nas_login_name> with your NAS username
 	User			gnovak

        # Enabling compression may improve performance for slow connections    
        #Compression		yes       
   
        # Uncomment this line if you are using OpenSSH 4.7 or later         
        MACs			umac-64@openssh.com,hmac-md5,hmac-sha1


##########################
### Machines behind firewalls.

# Paris 
Host aramis
  ProxyCommand ssh rubicon nc %h %p 2> /dev/null
Host lerma90
  ProxyCommand ssh aramis nc %h %p 2> /dev/null
# Paris 
Host aramis
  ProxyCommand ssh rubicon nc %h %p 2> /dev/null
Host momentum
  ProxyCommand ssh rubicon nc %h %p 2> /dev/null


##########################
### Give aliases to machines behind firewalls for when _I'm_ behind
### the firewall
Host aramisw
  HostName aramis.obspm.fr
Host lerma90w
  HostName lerma90.obspm.fr

# Princeton
Host sesame1 tigressdata oldhecate hecate tiger orbital
  ProxyCommand ssh armstrong nc %h %p 2> /dev/null

# UCSC
Host governator
  ProxyCommand ssh dionysus nc %h %p 2> /dev/null

# NASA
#Host cfe1 cfe2 cfe3 lou1 lou2 lou3 pleiadesfe1 lou
# # ProxyCommand ssh gnovak@sfe2.nas.nasa.gov /usr/local/bin/ssh-proxy %h

#Host pfe pfe-last
#  ProxyCommand ssh gnovak@sfe2.nas.nasa.gov /usr/local/bin/ssh-balance %h
#  HostKeyAlias pfe1.nas.nasa.gov
#  HostbasedAuthentication no

####################
### Hostname and Username Aliases

# NFSN
Host jen_web
  HostName ssh.phx.nearlyfreespeech.net
  User novak_jenniferelaineyoung
Host greymonster
  HostName ssh.phx.nearlyfreespeech.net
  User novak_greymonster
Host zugasaurus
  HostName ssh.phx.nearlyfreespeech.net
  User novak_zugasaurus
Host romney
  HostName ssh.phx.nearlyfreespeech.net
  User novak_romney
Host gregnovak
  HostName ssh.phx.nearlyfreespeech.net
  User novak_gregnovak

####################
### Username Aliases

# Paris Machines
Host aramis lerma90
  User novak
Host rubicon
  User gnovak

# Princeton Machines
Host tigressdata sesame1 sesame2 oldhecate hecate tiger orbital
  User gnovak
Host armstrong 
  User novak

# UCSC Machines
Host governator pleiades maia
  User novak

# Nasa Machines
# Host columbia lou cfe1 cfe2 cfe3 lou1 lou2 lou3 pleiadesfe1 pfe pfe-last p4fe1 bridge1 bridge2 
#   User gnovak

# Teragrid machines
Host blacklight cobalt
  User gnovak

####################
### Hostname Aliases

# Paris Machines
Host aramis 
  HostName aramis.obspm.fr
Host lerma90
  HostName lerma90.obspm.fr
Host rubicon
  HostName rubicon.obspm.fr

# Princeton Machines
Host armstrong
  HostName armstrong.astro.princeton.edu
Host tigressdata
  HostName tigressdata.princeton.edu
Host sesame1
  HostName sesame1.princeton.edu

# UCSC Machines
Host governator 
  HostName governator.ucsc.edu
Host pleiades
  HostName pleiades.ucsc.edu
Host maia
  HostName maia.ucsc.edu

# Teragrid machines
Host blacklight
  HostName blacklight.psc.teragrid.org
Host cobalt
  HostName login-co.ncsa.teragrid.org

##########################
### NASA stuff...
	
# Replace sfe4 with sfe1, sfe2 or sfe3 if sfe4 is unavailable, AND 
# if public key authorization is set up on the SFE you want to switch to
	
Host sfe
     HostName		sfe2.nas.nasa.gov

Host sfe sfe?.nas.nasa.gov
	Ciphers			aes128-cbc,aes192-cbc,aes256-cbc,3des-cbc
	ForwardAgent		no
	MACs			hmac-sha1

Host sfe sfe?.nas.nasa.gov dmzfs?.nas.nasa.gov sup*.nas.nasa.gov
	LogLevel		info
	ProxyCommand		none

Host lou lou-last lou.nas.nasa.gov lou-last.nas.nasa.gov
        HostKeyAlias            lfe1.nas.nasa.gov
        ProxyCommand            ssh -oCompression=no sfe /usr/local/bin/ssh-balance %h

# Host pfe pfe-last pfe.nas.nasa.gov pfe-last.nas.nasa.gov
# 	HostKeyAlias		pfe1.nas.nasa.gov
# 	ProxyCommand		ssh -oCompression=no sfe /usr/local/bin/ssh-balance %h

# Host bridge bridge-last bridge.nas.nasa.gov bridge-last.nas.nasa.gov
#         HostKeyAlias            pfe1.nas.nasa.gov
#         ProxyCommand            ssh -oCompression=no sfe /usr/local/bin/ssh-balance %h

# Host lfe lfe-last lfe.nas.nasa.gov lfe-last.nas.nasa.gov
#         HostKeyAlias            lfe1.nas.nasa.gov
#         ProxyCommand            ssh -oCompression=no sfe /usr/local/bin/ssh-balance %h

# Host lou lou-last lou.nas.nasa.gov lou-last.nas.nasa.gov
#         HostKeyAlias            lfe1.nas.nasa.gov
#         ProxyCommand            ssh -oCompression=no sfe /usr/local/bin/ssh-balance %h

# Add additional hosts to the list below as needed
Host *.nas.nasa.gov lou lou? lfe? cfe? pfe? pfe?? bridge? sfe ?fe ?fe-last
	ForwardAgent		yes
	HostbasedAuthentication	no
	Protocol		2
	ProxyCommand		ssh -oCompression=no sfe /usr/local/bin/ssh-proxy %h
	ServerAliveInterval	10m

        # Replace <nas_login_name> with your NAS username
 	User			gnovak

        # Enabling compression may improve performance for slow connections    
        #Compression		yes       
   
        # Uncomment this line if you are using OpenSSH 4.7 or later         
        MACs			umac-64@openssh.com,hmac-md5,hmac-sha1


