# Using VPN now so I don't find myself using ssh hackery to get around
# firewalls all that often.  Keep sample config so I have the syntax.

NoHostAuthenticationForLocalhost yes

Host dest
  ProxyCommand ssh firewall -W %h:%p

Host firewall
  ForwardAgent yes
  ForwardX11 yes
  ForwardX11Trusted yes

